.header {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: white;
  background-image:
    linear-gradient(rgba(34, 62, 153, 35%), rgba(34, 62, 153, 35%)),
    url('../../../../assets/images/hero_mobile.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 130px;
}

@media (min-width: 1024px) {
  .header {
    min-height: 777px;
    padding-bottom: 80px;
    background-image:
    linear-gradient(rgba(34, 62, 153, 35%), rgba(34, 62, 153, 35%)),
    url('../../../../assets/images/hero.png');
  }
}

.header::before {
  content: url("../../../../assets/images/hero_decorator_mobile.svg");
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}


@media (min-width: 1024px) {
  .header::before {
    content: url("../../../../assets/images/hero_decorator_desktop.svg");
    min-height: 800px;
  }
}