.specializationContainer {
  position: relative;
  margin-top: 100px;
  overflow: hidden;
  height: 580px;
  width: 100%;
  background-image:
    url('../../../../assets/home/bg_greater-specialization_mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.buttonCustom {
  background: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.buttonCustom:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1400px) {
  .specializationContainer {
    height: 450px;
    background-image:
      url('../../../../assets/home/bg_greater-specialization_desktop.svg');
  }
}